.settingsContainer {
  box-sizing: border-box;
  min-height: 100vh;
  width: 1000px;
  display: grid;
  justify-items: center;
  border: 2px solid lightgray;
  text-align: center;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
}

.settingsColumn ul {
 display: grid;
 justify-items: center;
 padding: 0;
}

.settingsLeftColumn li {
  margin: 5px;
}

.characterItemContainer {
  width: 250px;
  margin: 5px;
}

.characterItem {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid lightgray;
  border-radius: 2%;
  cursor: pointer;
}

.characterItem input {
  margin-right: 5px;
}

.characterItemDescription {
    margin: 5px;
}

.settingsTitle {
  grid-column: span 2;
}

.settingsButton {
  grid-column: span 2;
}



