.chatContainer {
  height: 25vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr auto;
  border: 1px solid lightgray;
}

.chat {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: grid;
  align-content: start;
  justify-content: stretch;
  text-align: left;
}

.chat li {
  margin: 2px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.chatContainer form {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.chatContainer form input {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
